<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Parametros para Reglas Fuzzy</title>
    </head>
    <body>
        Nothing here but us bugs.
        <!--- Aquí relleno la página con las variables que vienen
            default. La idea es que no tenga que reescribir todo si
            cambio la forma de los parametros--->
            <form action="{{ url_for(endpoint) }}" method="post" accept-charset="utf-8">
            <div>
                {% for var in form %}
                    {% if var is ne(form.submit)  %}
                        {{var.name}}
                        {{var}}
                    {% endif %}
                {% endfor %}
                {{form.submit}}
            </div>
        </form>
        <div>
        </div>
    </body>
</html>
