<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Índice</title>
    </head>
    <body>
        <div>
            <h2>Mostrar Nodos</h2>
            <form  method="POST" accept-charset="utf-8">
                <div> {{ vis_form.persona1.nombre_re.label }} {{ vis_form.persona1.nombre_re }}</div>
                <div> {{ vis_form.persona1.apellido_paterno_re.label }} {{ vis_form.persona1.apellido_paterno_re }}</div>
                <div> {{ vis_form.persona1.apellido_materno_re.label }} {{ vis_form.persona1.apellido_materno_re }}</div>
                <div> {{ vis_form.generaciones_mat.label}} {{vis_form.generaciones_mat}} </div>
                <div> {{ vis_form.generaciones.label}} {{vis_form.generaciones}} </div>
                <div> {{ vis_form.is_shortest.label }} {{ vis_form.is_shortest }}</div>
                <div class="second_person">
                    <div> {{ vis_form.persona2.nombre_re.label }} {{ vis_form.persona2.nombre_re }}</div>
                    <div> {{ vis_form.persona2.apellido_paterno_re.label }} {{ vis_form.persona2.apellido_paterno_re }}</div>
                    <div> {{ vis_form.persona2.apellido_materno_re.label }} {{ vis_form.persona2.apellido_materno_re }}</div>
                </div>
                <div> {{ vis_form.submit_vis_parameters }}</div>
            </form>
        </div>
        <div>
            <h2>Recrear Comunidades & Clusters</h2>
            <form action="{{ url_for('remake_clusters') }}" method="get" accept-charset="utf-8">
                <div>
                    <h3>Opciones de algorítmos de comunidad</h3>
                    <label for="threshold_community">Threshold para comunidades:</label> 
                    <input type="text" value="0.7" name="threshold_community" id="threshold_community"/>
                </div>
                <div>
                    <label for="community_algo">Algorítmo de deteccion de comunidad:</label>
                    <select name="community_algo" id="community_algo" size="1">
                        <option selected="selected" value="louvain">Louvain</option>
                        <option value="unionFind">unionFind</option>
                    </select>
                </div>
                <div>
                    <h3>Opciones para clusterización</h3>
                    <label for="threshold_clustering">Threshold para clusters</label>
                    <input type="text" value="0.4" name="threshold_clustering" id="threshold_clustering"/>
                </div>
                <div>
                    <label for="clusterizar">Clusterizar?</label>
                    <select name="clusterizar" id="clusterizar" size="1">
                        <option value="True">Sí</option>
                        <option selected="selected" value="False">No</option>
                    </select>
                </div>
                    <input type="submit" />
            </form>
        </div>
        <div>
            <h2>Analizar nombres</h2>
            <form action="{{ url_for('analize_names')}}" method="get" accept-charset="utf-8">
                <div>
                    <label for="threshold_nombres">Threshold para nombres</label>
                    <input type="text" name="threshold_nombres" id="threshold_nombres" value="0.65" />
                </div>
                <div>
                    <label>Analizador: </label>
                    <select name="analizador" id="analizador">
                        <option selected value="OverlapCoefficient">OverlapCoefficient</option>
                        <option value="Jaccard">Jaccard</option>
                        <option value="JaroWinkler">JaroWinkler</option>
                        <option value="Editex">Editex</option>
                    </select>
                </div>
                <div>
                    <label>tokenizador: </label>
                    <select name="tokenizador" id="tokenizador">
                        <option value="Qgram">QgramTokenizer</option>
                        <option value="Alphanumeric">Alphanumeric</option>
                        <option value="Identity">Identity</option>
                    </select>   
                </div>
                <input type="submit"/>
            </form>
            <h2>Analizar tiempos</h2>
            <form action="{{ url_for('analize_times')}}" method="get" accept-charset="utf-8">
                <div>
                    <label for="threshold_nombres">Threshold para nombres</label>
                    <input type="text" name="threshold_nombres" id="threshold_nombres" value="0.7" />
                </div>
                <div>
                    <label>Threshold para tiempos</label>
                    <input type="text" name="threshold_tiempos" id="threshold_tiempos" value="0.5" />
                </div>
                <input type="submit"/>
            </form>
            <h2>Analizar Grafo</h2>
            <form action="{{ url_for('analize_graph') }}" method="get" accept-charset="utf-8">
                <div>{{ graph_form.default.label }} {{ graph_form.default}}</div>
                <div>{{ graph_form.delete_no_score.label}} {{graph_form.delete_no_score}}</div>
                <div>{{ graph_form.submit_graph_parameters}}</div>
            </form>
        </div>
        <div>
            <a href="{{ url_for('set_fuzzytime_params')}}">Modificar parámetros fuzzy de tiempos</a>
            <a href="{{ url_for('set_fuzzygraph_params')}}">Modificar parámetros fuzzy de grafos</a>
            <a href="{{ url_for('print_rule_set') }}">Mostrar reglas</a>
            <a href="{{ url_for('load_data') }}">Recargar Datos</a>
        </div>
        <div style="white-space: pre-wrap;">
            <h2>Logs</h2>
            {{ log }}
        </div>
    </body>
</html>
