
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nodos</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <script src="{{ url_for('static', filename='view_nodes.js')}}"></script>
        {{ JSGlue.include() }}
        <style type="text/css">
                body {
                    font: 10pt sans;
                }

                #nodos {
                    width: 1000px;
                    height: 1000px;
                    border: 1px solid lightgray;
                }
            </style>
    </head>
    <body onload="get_nodes({{rule_json}}, 
        {# Revisa si se trata de una visualización de partición o de familia y asigna el resultado #}
        {% if is_partition is undefined %} 
            {% set is_partition = 'false' %} 
            false 
        {% else %} 
            {{ is_partition }} 
        {% endif %});">
        <div id="nodos">
        </div>
        <div id="informacion">
            <div id="info_nodo">
                
            </div>
            <div id="info_rel">
                
            </div>
            {# Se supone que is_partiton no defería estar undefined a estas alturas #}
            {% if is_partition is eq 'false' %}
                <div id="partition_button">
                    <a href="{{ url_for('print_nodes_in_partition')}}" >Ver partición</a>
            {% endif %}
        </div>
    </body>
</html>
