<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reglas</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <script src="{{ url_for('static', filename='view_rules.js')}}"></script>
        <style type="text/css">
                body {
                    font: 10pt sans;
                }

                #reglas {
                    width: 1000px;
                    height: 1000px;
                    border: 1px solid lightgray;
                }
            </style>
    </head>
    <body onload="draw({{rule_json}});">
        <div id="reglas">
        </div>
        <div id="texto"></div>
    </body>
</html>
